<form #changeForm="ngForm" (ngSubmit)="changePassword()" autocomplete="off" ngNativeValidate >
    <h2 class="text-center text-primary">Change Password!</h2>
    <hr />

    <div class="row align-items-center">
        <div class="col-25"><label for="username">Username</label></div>
        <div class="col-75">
            <input type="email" id="username" name="username" [(ngModel)]="model.username" disabled required />
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-25">
            <label for="password">Old Password</label>
        </div>
        <div class="col-75">
            <input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="model.oldPassword"
                placeholder="Enter Your Old Password.." required />
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-25">
            <label for="password">New Password</label>
        </div>
        <div class="col-75">
            <input type="password" id="newPassword" name="newPassword" [(ngModel)]="model.newPassword"
                placeholder="Enter Your New Password.." required />
        </div>
    </div>

    <div class="row align-items-center mt-3" style="text-align: center">
        <button [disabled]="!changeForm.dirty" class="btn btn-success mb-1" type="submit">Change Password</button>
        <a routerLink="/" class="btn btn-secondary mb-1"> Cancel </a>
    </div>

    <div class="row align-items-center mt-3">
        <div class="alert alert-info pb-0" *ngIf="changeForm.dirty">
            <p><strong>Information: </strong>You have made changes. Any unsaved changes will be lost</p>
        </div>
    </div>
</form>